body {
    overflow-x: hidden;
    margin: 0px;
    /* font-family: monospace; */
    /* color: white; */
}

main {
    /* width: 100vw;
    height: 200vw; */
    z-index: 100;
    position: absolute;
    /* justify-content: center;
    text-align: center;
    pointer-events: none; */
    /* font-size: 5vh; */
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    position: absolute; /* Ensures footer stays in flow of the document */
    bottom: 0;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
}

h1, h2, h3 {
    font-family: 'Avenir';
}

 h5 {
    font-family: 'Futura';
}

button {
    border-radius: 40px !important;
    border: 1px solid #9A6DA6 !important;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #9E81A5 !important;
}

.black-link:hover {
    color: black;
}

button:active {
    background-color: #9A6DA6 !important;
    transform: translateY(2px);
}

.resume-link {
    text-decoration: none !important;
}

.resume-btn {
    border-radius: 10px !important;
}

.navbar {
    font-size: 16px;
    border-bottom: 1px outset #C0C0C0;
    background: #EEE4F2;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}

section {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card {
    border-color: #9A6DA6;
    background: #EEE4F2;
}

/* .home {
    background: #F9F0C1;
    background: #C2F2F2;
    width: 100%;
    height: 100%;
} */

/* #about {
    background: #F9F0C1;
} */

/* #skills {
    background: #F4CDA6;
} */

/* #projects {
    background: #C0ECCC;
} */

.container-icons {
    width: 85%;
}

.icon-box {
    width: 12.5%;
    margin-bottom: 5%;
}

.img-container {
    overflow: hidden;
    max-width: 200px;
    margin: 0 auto;
}

.profile-img {
    border-radius: 50%;
}

.portfolio-img {
    border-radius: 20%;
}

#contact {
    /* min-height: 30vh; */
    /* background: #9A6DA6;
    background-image: linear-gradient(to bottom, rgba(238, 228, 242, 1) 0%, rgba(238, 228, 242, 1) 100%), linear-gradient(to bottom, rgba(154, 109, 166, 1) 0%, rgba(154, 109, 166, 1) 100%);
    background-clip: content-box, padding-box; */
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between SVG and text */
}

/* .contact-item p {
    margin-bottom: 0;
    margin-left: 10px;
} */

.custom-margin {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .custom-margin {
        margin-bottom: 5rem; /* Adjust as needed */
    }
}

.project-div {
    min-height: 50vh;
}

.project-img {
    max-height: 160px;
    object-fit: contain;
}

.project-card-text {
    flex: 0 1 180px; /* Fixed height for card-body */
    overflow: hidden; /* Ensures content doesn't overflow */
}

/*
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
} */


/** RAY TRACE FILE STYLING **/

.details-body {
    font-family: 'Arial', sans-serif;
    background-color: #EEE4F2;
    color: #333;
}

.blog-post {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.blog-post h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.blog-post h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.blog-post p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.blog-post img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}